fastapi
uvicorn
openai==0.28.0
python-dotenv
soundfile
scipy
numpy
pandas
noisereduce
requests
pydantic
ffmpeg-python
python-multipart
aiofiles
torch
git+https://github.com/openai/whisper.git

 

